# The Webstorm settings file
.idea

# Node modules
docs/node_modules/

# Chapter latex files
./docs/chapters/*.tex

# Information files
info/

# Temp files
./docs/book.log
./docs/book.aux
docs/book.synctex.gz\(busy\)

